.butonAmimation {
    display: inline-block;
    position: relative;
    color: #362930;
    background: transparent;
    border: none;
    outline: none;
    padding-bottom: 2px;
    height: 45px;
    position: relative;
    max-width: 225px;
    width: 100%;
    margin-top: 52px;
    font-weight: 600;
    p {
        font-size: 1.6rem;
        display: inline-block;
        color: #2a2a2a;
        letter-spacing: 0.4px;
        text-align: left;
        display: inline-block;
    }
    &::before {
        content: "";
        position: absolute;
        display: inline-block;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 0%;
        background: #362930;
        transform: scaleX(0);
        transform-origin: left;
        transition-delay: 0s;
        transition: transform 0.55s cubic-bezier(0.65, 0.005, 0.35, 0.995);
    }
    &:hover::before {
        width: 100%;
        transform: scaleX(1);
        transition-delay: 0.25s;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: #362930;
        transform-origin: right;
        transition-delay: 0.25s;
        transform: scaleX(1);
        transition: transform 0.55s cubic-bezier(0.65, 0.005, 0.35, 0.995);
    }

    &:hover::after {
        width: 0;
        transform: scaleX(0);
        transition-delay: 0.25s;
    }
}
