@font-face {
    font-family: "Mabry Pro";
    src: url("../../Fonts/MabryPro-Regular.woff") format("woff2"),
        url("../../Fonts/MabryPro-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
