* {
    margin: 0;
    padding: 0;
  }
  
  .handwrting {
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: #ebebeb;
  }
  
  .logo {
    width: 241px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .logo path {
    stroke-dasharray: 2900;
    stroke-dashoffset: 2900;
    font-feature-settings: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
  
    animation: dash 4s linear 1.5s forwards;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
      fill: black;
    }
  }
  