@import "components/reset";
@import "components/loading";
@import "components/useLocalScroll";
@import "components/navBar";

html {
  font-size: 62.5%;
}
body {
  color: #4a4a4a;
  font-family: mabry-regular, Arial, Sans-Serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
